extends ../layouts/common

block content
  h1 Create user

  a(href="/users") roll brack

  form(action="/users/create", method="POST")
    label Name
    input(type="text", name="name")
    br
    button Create